# ROS2
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
cv_env/
ros_env/
.env

# IDE
.vscode/
.idea/

# Linux
*.swp
*.swo

#Assets
assets/

# Models


# Datasets
datasets/

# ROS Generated
*.egg-info/

# Colcon
.colcon/

# Logs
logs/