
# ROS2 Workspace

ros2_WS/build/
ros2_WS/install/
ros2_WS/log/

# ROS Generated

*.egg-info/
ros2_WS/src/px4_msgs/

# Python

__pycache__/
*.py[cod]
*.so

# Virtual Environments

venv/
cv_env/
ros_env/
.env

# IDE

.vscode/
.idea/
.history/

# Linux

*.swp
*.swo
*~

# Datasets

datasets/

# Models

models/**/*.pt
models/**/*.onnx
models/**/*.engine

models/yolo_training/runs/

# Logs

logs/

# Colcon

.colcon/

# OS

.DS_Store
Thumbs.db


# Model weights
*.pt
*.onnx
*.engine