numpy==1.26.4
scipy
pandas
matplotlib
opencv-python

torch 
torchvision 
torchaudio

ultralytics
filterpy
lap
scikit-learn
transforms3d
pymavlink

fastapi
uvicorn
websockets
sqlalchemy

PyYAML
psutil
timm
onnxruntime
