<?xml version="1.0"?>

<model>
  <name>tree</name>

  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Counter-UAS Project</name>
  </author>

  <description>
    Lightweight procedural tree model for the Counter-UAS
    air-to-air Gazebo simulation environment.
  </description>
</model>